<template>
  <div class="addView">
    <Header />
    <Form />
    <Footer />
  </div>
</template>

<script>
/* eslint-disable object-shorthand */
/* eslint-disable func-names */

import { mapMutations } from 'vuex';

import Header from '@/components/Header.vue';
import Form from '@/components/Form.vue';
import Footer from '@/components/Footer.vue';

export default {
  name: 'AddView',
  components: {
    Header,
    Form,
    Footer,
  },
  created() {
    this.clearActiveMeetingId();
  },
  // computed: {
  //   ...mapGetters([
  //     'activeMeeting',
  //   ]),
  // },
  methods: {
    ...mapMutations(['clearActiveMeetingId']),
  },
};
</script>

<style lang="scss" scoped>
.addView {
  font-size: 1.6rem;
}
</style>
