<template>
  <div class="editView">
    <Header />
    <Form :meeting="activeMeeting" />
    <Footer />
  </div>
</template>

<script>
/* eslint-disable object-shorthand */
/* eslint-disable func-names */

import { mapGetters, mapMutations } from 'vuex';

import Header from '@/components/Header.vue';
import Form from '@/components/Form.vue';
import Footer from '@/components/Footer.vue';

export default {
  name: 'EditView',
  components: {
    Header,
    Form,
    Footer,
  },
  computed: {
    ...mapGetters([
      'activeMeeting',
    ]),
  },
  methods: {
    ...mapMutations(['clearActiveMeetingId']),
  },
};
</script>

<style lang="scss" scoped>
.editView {
  font-size: 1.6rem;
}
</style>
