<template>
  <div class="home">
    <Header />
    <Content />
    <Footer />
  </div>
</template>

<script>
import Header from '@/components/Header.vue';
import Footer from '@/components/Footer.vue';
import Content from '../components/Content.vue';

export default {
  name: 'home',
  components: {
    Header,
    Content,
    Footer,
  },
};
</script>

<style lang="scss" scoped>
.home {
  font-size: 1.6rem;
}
</style>
