<template >
<div>
  <span :class="className">{{ msg }}</span>
</div>
</template>

<script>
/* eslint-disable object-shorthand */
/* eslint-disable func-names */
export default {
  name: 'Alert',
  props: {
    className: String,
    msg: String,
  },
};
</script>
<style lang="scss">
.alertRed {
  display: block;
  margin: 1rem 0;
  width: 700px;
  padding: 1rem;
  border: 0;
  background-color: red;
  border-radius: 15px;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}
.alertGreen {
  display: block;
  margin: 1rem 0;
  width: 700px;
  padding: 1rem;
  border: 0;
  background-color: $green;
  border-radius: 15px;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}
</style>
