<template>
  <div class="contentWrapper container">
    <div class="content">
    <MeetingBox />
    <Map />
    </div>
  </div>
</template>

<script>
import MeetingBox from '@/components/MeetingBox.vue';
import Map from '../components/Map.vue';

export default {
  name: 'Content',
  components: {
    MeetingBox,
    Map,
  },
};
</script>

<style lang="scss">
.contentWrapper {
  width: 100%;
  min-height: calc(100vh - 150px);
}
.content {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  @include media('>=tablet-l') {
    flex-flow: row nowrap;
  }
}
</style>
