<template>
<div class="footerBg">
  <footer class="footer container">
    <span class="footer__copy">
      Copyrights...
    </span>
  </footer>
</div>
</template>

<script>
export default {
  name: 'Footer',
};
</script>

<style lang="scss">
.footer {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__copy {
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: .2rem;
  }
}
.footerBg {
  width: 100%;
  background-color: $green;
}
</style>
