<template >
<div class="formBox container">
  <form class="form" method="POST" @submit.prevent="sendForm">
    <h2 class="form__title">{{ this.activeMeetingId ? 'Zaktualizuj ustawkę' : 'Zorganizuj ustawke' }}</h2>
    <Alert :className="this.alertClass" :msg="this.alertMsg" />
    <div class="form__inputGroup">
      <label for="formName" class="form__inputLabel">Organizator:</label>
      <input class="form__input" id="formName" v-model="formData.name" type="text" placeholder="Organizator" />
    </div>
    <div class="form__inputGroup">
      <label for="formTitle" class="form__inputLabel">Nazwa ustawki:</label>
      <input class="form__input" id="formTitle" v-model="formData.title" type="text" placeholder="Nazwa ustawki" />
    </div>
    <div class="form__inputGroup">
      <label for="formLocalization" class="form__inputLabel">Lokalizacja:</label>
      <input class="form__input" id="formLocalization" v-model="formData.localization" type="text" placeholder="Lokalizacja" />
    </div>
    <div class="form__inputGroup">
      <label for="formDate" class="form__inputLabel">Data:</label>
      <input class="form__input" id="formDate" v-model="formData.date" type="date" placeholder="dd.mm.rrr" />
    </div>
    <div class="form__inputGroup">
      <label for="formTime" class="form__inputLabel">Godzina:</label>
      <input class="form__input" id="formTime" v-model="formData.time" type="time" placeholder="--:--" />
    </div>
    <div class="form__inputGroup">
      <label for="formBike" class="form__inputLabel">Rodzaj roweru:</label>
      <select class="form__select" v-model="formData.bike" id="formBike" placeholder="Wybierz typ roweru">
        <option value="">Wybierz typ roweru</option>
        <option value="mtb">MTB</option>
        <option value="downhill">Downhill</option>
        <option value="enduro">Enduro</option>
        <option value="szosa">Szosa</option>
        <option value="miejski">Miejski</option>
      </select>
    </div>
    <div class="form__inputGroup">
      <label for="formPeople" class="form__inputLabel">Liczba osób:</label>
      <input class="form__input" id="formPeople" v-model.number="formData.people" type="number" placeholder="Liczba osób" />
    </div>
    <div class="form__inputGroup">
      <label for="formDuration" class="form__inputLabel">Czas trwania [h]:</label>
      <input class="form__input" id="formDuration" v-model.number="formData.duration" type="number" placeholder="Czas trwania" />
    </div>
    <div class="form__inputGroup">
      <label for="formDistance" class="form__inputLabel">Trasa [km]:</label>
      <input class="form__input" id="formDistance" v-model.number="formData.distance" type="number" placeholder="Trasa" />
    </div>
    <div class="form__inputGroup">
      <label for="formLevel" class="form__inputLabel">Poziom trudności [1-3]:</label>
      <input class="form__input" id="formLevel" v-model.number="formData.level" type="number" min="1" max="3" placeholder="Poziom trudności" />
    </div>
    <div class="form__inputGroup">
      <label for="formDescription" class="form__inputLabel">Opis trasy:</label>
      <textarea class="form__textarea" id="formDescription" v-model="formData.description" type="text" rows="4"
        placeholder="Opis trasy"></textarea>
    </div>
    <div class="form__inputGroup">
      <label for="formInfo" class="form__inputLabel">Dodatkowe informacje:</label>
      <textarea class="form__textarea" id="formInfo" v-model="formData.info" type="text" rows="4"
        placeholder="Dodatkowe informacje"></textarea>
    </div>
    <button class="form__btn" type="submit">{{ this.activeMeetingId ? 'Zaktualizuj ustawkę' : 'Zorganizuj ustawke' }}</button>
    <button class="form__btn" type="button" @click="goToList">Powrót do listy</button>
  </form>
</div>
</template>
<script>
/* eslint-disable object-shorthand */
/* eslint-disable func-names */
import {
  mapActions,
  mapState,
  mapMutations,
  mapGetters,
} from 'vuex';
import Alert from '@/components/Alert.vue';

export default {
  name: 'FormBox',
  components: {
    Alert,
  },
  props: {
    meeting: Object,
  },
  data() {
    return {
      formData: null,
    };
  },
  computed: {
    ...mapState(['activeMeetingId', 'alertMsg', 'alertClass']),
    ...mapGetters(['actualTime', 'actualDate']),
  },
  created() {
    this.createFormData();
  },
  watch: {
    meeting: function () {
      this.createFormData();
    },
  },
  methods: {
    ...mapMutations(['clearActiveMeetingId', 'setFirstPage']),
    ...mapActions(['addMeeting', 'editMeeting', 'showAlert']),
    createFormData() {
      if (this.meeting) {
        this.formData = { ...this.meeting };
      } else {
        this.formData = {
          name: '',
          title: '',
          localization: '',
          date: '',
          time: '',
          bike: '',
          people: '',
          duration: '',
          distance: '',
          level: '',
          description: '',
          info: '',
          position: {
            lat: '',
            lng: '',
          },
        };
      }
    },
    isValid() {
      const invalidFormFields = Object.values(this.formData).filter((item) => item === '');
      return invalidFormFields.length === 0;
    },
    sendForm() {
      if (!this.isValid()) {
        this.showAlert({ msg: 'Wypełnij wszystkie pola', className: 'alertRed' });
      } else if (`${this.formData.date} ${this.formData.time}` < `${this.actualDate} ${this.actualTime}` || this.formData.date >= this.limitDate) {
        this.showAlert({ msg: 'Nie mozesz dodac ustawki wczesniej niz dzisiaj', className: 'alertRed' });
      } else if (this.activeMeetingId === null) {
        this.addMeeting(this.formData);
        this.showAlert({ msg: 'Dodano ustawke', className: 'alertGreen' });
      } else {
        this.editMeeting(this.formData);
        this.showAlert({ msg: 'Zaktualizowano ustawke', className: 'alertGreen' });
      }
    },
    goToList() {
      this.setFirstPage();
      this.$router.push('/');
    },
  },
};
</script>

<style lang="scss">
.formBox {
  width: 100%;
  padding: 0 1rem;
  min-height: calc(100vh - 150px);
  @include media('>=desktop') {
    padding: 0;
  }
}
.form {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  &__title {
    width: 100%;
    max-width: 700px;
    font-size: 2rem;
    margin: 2rem 0;
  }

  &__inputGroup {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: .5rem 0;
  }

  &__inputLabel {
    width: 250px;
    color: $green;
    font-size: 1.4rem;
    font-weight: 600;

  }
  &__input, &__textarea, &__select {
    width: 450px;
    font-size: 1.4rem;
    border: none;
    padding: 1rem;
    background-color: rgba(226,244,199,0.3);
    border-bottom: 2px solid $green;
    border-radius: 0;
  }

  &__input, &__select {
    height: 35px;
  }

  &__input::placeholder, &__select::placeholder, &__textarea::placeholder {
    color: $black;
    font-size: 1.4rem;

  }

  &__input[type=date], &__input[type=time], &__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    font-size: 1.4rem;

  }

  &__btn {
    width: 100%;
    max-width: 700px;
    margin: .5rem 0;
    border: 0;
    background-color: $green;
    border-radius: 15px;
    height: 40px;
  }
}
</style>
