<template>
<div class="headerBg">
  <header class="header container">
    <Logo />
    <Navi />
  </header>
</div>
</template>
<script>
import Logo from '@/components/Logo.vue';
import Navi from '@/components/Navi.vue';

export default {
  name: 'Header',
  components: {
    Logo,
    Navi,
  },
};
</script>
<style lang="scss" scoped>
.header {
  font-size: 1.6rem;
  width: 100%;
  height: 100px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.headerBg {
  width: 100%;
  background-color: $green;
}
</style>
