<template>
<div class="logo">
  <h1 class="logo__heading"><router-link to="/" class="logo__link"><LogoIcon class="logo__img" />Ustawsie.pl</router-link></h1>
</div>
</template>

<script>
import LogoIcon from '@/assets/sprites/bicycle.svg';

export default {
  name: 'Logo',
  components: {
    LogoIcon,
  },
};
</script>

<style lang="scss">

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  &__heading {
    letter-spacing: .5rem;
    font-size: 2.5rem;
  }
  &__link {
    text-decoration: none;
    color: $black;
    transition: all .3s ease-in-out;
  }
   &__link:hover{
    color: $white;
  }
   &__img {
    width: 55px;
    height: 40px;
    fill: currentColor;
    vertical-align: middle;
    margin-bottom: 1rem;
  }
}
</style>
