<template>
  <div class="mapBox">
    <GmapMap
      id="map"
      :center="{lat:52.229675, lng:21.012230}"
      :zoom="8"
    >
    <gmap-info-window :options="infoOptions" :position="infoWindowPos" :opened="infoWinOpen" @closeclick="infoWinOpen=false">
      </gmap-info-window>
     <GmapMarker
      :key="index"
      v-for="(marker, index) in filteredMeetings"
      :position="marker.position"
      :icon="icon"
      :clickable="true"
      @click="toggleInfoWindow(marker, index)"
    />
    </GmapMap>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Map',
  data() {
    return {
      icon: {
        url: 'https://be-team.co/wp-content/uploads/2019/07/bike-icon-png-19.png',
        scaledSize: {
          width: 30,
          height: 30,
        },
      },
      statusText: '',
      infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,

      infoOptions: {
        content: '',
        // optional: offset infowindow so it visually sits nicely on top of our marker
        pixelOffset: {
          width: 0,
          height: -35,
        },
      },
    };
  },
  computed: {
    ...mapGetters(['filteredMeetings']),
  },
  methods: {
    toggleInfoWindow(marker, idx) {
      this.infoWindowPos = marker.position;
      this.infoOptions.content = `${marker.title} <br /> ${marker.name} <br /> ${marker.date} <br /> ${marker.time}`;
      // check if its the same marker that was selected if yes toggle
      if (this.currentMidx === idx) {
        this.infoWinOpen = !this.infoWinOpen;
      } else {
        this.infoWinOpen = true;
        this.currentMidx = idx;
      }
    },
  },
};
</script>

<style lang="scss">
.mapBox {
  width: 100%;
  height: 100%;
  margin: 0;
  @include media('>=tablet-l') {
    flex: 1 1 50%;
    margin: 1rem;
  }
}
#map {
  min-height: calc(100vh - 170px);
}
</style>
