<template>
  <div class="meetingBox">
    <ul class="meetingCard">
      <li class="meetingCard__item">
        <span class="meetingCard__title">Organizator: </span>
        <span class="meetingCard__text">{{ meeting.name }}</span>
      </li>
      <li class="meetingCard__item">
        <span class="meetingCard__title">Nazwa ustawki: </span>
        <span class="meetingCard__text">{{ meeting.title }}</span>
      </li>
      <li class="meetingCard__item">
        <span class="meetingCard__title">Lokalizacja: </span>
        <span class="meetingCard__text">{{ meeting.localization }}</span>
      </li>
      <li class="meetingCard__item">
        <span class="meetingCard__title">Data: </span>
        <span class="meetingCard__text">{{ meeting.date }}</span>
      </li>
      <li class="meetingCard__item">
        <span class="meetingCard__title">Godzina: </span>
        <span class="meetingCard__text">{{ meeting.time }}</span>
      </li>
      <li class="meetingCard__item">
        <span class="meetingCard__title">Rower: </span>
        <span class="meetingCard__text">{{ meeting.bike }}</span>
      </li>
      <li class="meetingCard__item">
        <span class="meetingCard__title">Liczba osób: </span>
        <span class="meetingCard__text">{{ meeting.people }}</span>
      </li>
      <li class="meetingCard__item">
        <span class="meetingCard__title">Czas trwania[h]: </span>
        <span class="meetingCard__text">{{ meeting.duration }}</span>
      </li>
      <li class="meetingCard__item">
        <span class="meetingCard__title">Długość trasy[km]: </span>
        <span class="meetingCard__text">{{ meeting.distance }}</span>
      </li>
      <li class="meetingCard__item">
        <span class="meetingCard__title">Poziom[1-3]: </span>
        <span class="meetingCard__text">{{ meeting.level }}</span>
      </li>
      <li class="meetingCard__item">
        <span class="meetingCard__title">Opis: </span>
        <span class="meetingCard__text">{{ meeting.description}}</span>
      </li>
      <li class="meetingCard__item">
        <span class="meetingCard__title">Dodatkowe informacje: </span>
        <span class="meetingCard__text"> {{ meeting.info }}</span>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'MeetingCard',
  props: {
    meeting: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="scss">
.meetingBox {
  width: 100%;
}
.meetingCard {
  border-radius: 15px;
  &__item {
    background-color: lightskyblue;
    padding: 2rem 2rem;
    display: flex;
    font-size: 1.4rem;
    align-items: center;
      &:first-child {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    &:last-child {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
  &__title {
    font-weight: 600;
    width: 40%;
  }

  &__text {
    width: 60%;
  }
}
</style>
