<template>
  <div class="meetingBox">
    <Search />
    <Alert :className="this.alertClass" :msg="this.alertMsg" />
    <div v-if="activeMeeting">
      <MeetingCard :meeting="activeMeeting" />
      <ul class="meetingList__btnList">
        <button class="meetingList__btn" @click="hideMeetingCard">Powrót do listy</button>
        <button class="meetingList__btn" @click="editActiveMeeting">Edytuj ustawke</button>
        <button class="meetingList__btn" @click="removeActiveMeeting">Usuń ustawke</button>
      </ul>
    </div>
    <ul
      v-else
      class="meetingList"
    >
      <li class="meetingList__item"
        v-for="meeting in meetingsOnPage"
        :key="meeting.id"
        @click="showMeetingCard(meeting)"
      >
        <div class="meetingList__text">{{ meeting.name }}</div>
        <div class="meetingList__text">{{ meeting.date }}</div>
        <div class="meetingList__text">{{ meeting.time }}</div>
        <div class="meetingList__text">{{ meeting.title }}</div>
      </li>
      <Pagination />
    </ul>

  </div>
</template>

<script>
import {
  mapGetters, mapActions, mapMutations, mapState,
} from 'vuex';
import Search from '@/components/Search.vue';
import Alert from '@/components/Alert.vue';
import MeetingCard from '../components/MeetingCard.vue';
import Pagination from '../components/Pagination.vue';

export default {
  name: 'MeetingBox',
  components: {
    MeetingCard,
    Search,
    Pagination,
    Alert,
  },
  computed: {
    ...mapGetters([
      'meetingsOnPage',
      'activeMeeting',
    ]),
    ...mapState(['activeMeetingId', 'alertMsg', 'alertClass']),
  },
  created() {
    this.fetchMeetings();
  },
  methods: {
    ...mapActions([
      'fetchMeetings',
      'deleteMeeting',
      'editMeeting',
      'showAlert',
    ]),
    ...mapMutations([
      'setActiveMeetingId',
      'clearActiveMeetingId',
    ]),
    showMeetingCard(meeting) {
      this.setActiveMeetingId(meeting.id);
    },
    hideMeetingCard() {
      this.clearActiveMeetingId();
    },
    removeActiveMeeting() {
      this.deleteMeeting(this.activeMeetingId)
      this.showAlert({ msg: 'Ustawka usunieta', className: 'alertRed' });
    },
    editActiveMeeting() {
      this.$router.push('/edit');
    },
  },
};
</script>

<style lang="scss">
.meetingBox {
  width: 100%;
  @include media('>=tablet-l') {
   flex: 1 1 50%;
  }
}
.meetingList {

  &__item {
    margin: .5rem 0;
    padding: 1rem 0;
    border-radius: 15px;
    font-size: 1.4rem;
    text-decoration: none;
    color: $black;
    word-break: break-all;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
    background-color: lightskyblue;
  }
  &__text {
    flex: 1 1 25%;
    text-align: center;
  }
  &__btnList {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__btn {
    width: 33%;
    margin: .5rem 0;
    border: 0;
    background-color: $green;
    border-radius: 15px;
    height: 40px;
  }
}
</style>
