<template>
<nav class="navigation">
  <button class="navigation__btn" @click="toggle"><MenuIcon class="menuIcon" /></button>
  <ul :class="['menu', isOpen ? 'menu--open' : '']">
    <li class="menu__item"><router-link to="/" class="menu__link">Start</router-link></li>
    <li class="menu__item"><router-link to="/add" class="menu__link">Dodaj Ustawke</router-link></li>
  </ul>
</nav>
</template>
<script>
import MenuIcon from '@/assets/sprites/menu.svg';

export default {
  name: 'Navi',
  components: {
    MenuIcon,
  },
  data() {
    return {
      isOpen: false,
    };
  },
  methods: {
    toggle() {
      this.isOpen = !this.isOpen;
    },
  },
};
</script>
<style lang="scss">
.navigation {
  &__btn {
    z-index: 2;
    position: absolute;
    top: 3.25rem;
    right: 0;
    background: transparent;
    border:none;
     @include media('>=tablet') {
      right: 1rem;
      top: 3.25rem;
    }
    @include media('>=desktop') {
      display: none;
    }
  }
}
.menuIcon {
  width: 30px;
  height: 30px;
  fill: $black;
  @include media('>=desktop') {
    width: 40px;
    height: 40px;
  }
}
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 300;
    font-style: italic;
    z-index: 1;
    background-color: rgba(0,0,0,0.8);
    left: -100%;
    transition: left .5s ease-in-out;
    &--open {
      left: 0;
    }
  @include media('>=desktop') {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: static;
    font-size: 1.6rem;
    min-height: auto;
  }
  &__item {
    font-weight: 700;
    text-align: center;
  }

  &__link {
    display: block;
    margin: 0 1rem;
    padding: 3rem;
    color: $white;
    text-decoration: none;
    @include media('landscape') {
      padding: 2.5rem;
    }
    @include media('>=desktop') {
      padding: 0;
      color: $black;
      &:last-child {
        margin-right: 0;
      }
      &::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background-color: $black;
      transition: width .3s ease-in;
      }
      &:hover::after {
      width: 100%;
      }
    }
  }
}
</style>
