<template>
  <div class="pagination">
    <ul class="pagination__list" v-if="pages > 1">
      <li class="pagination__item">
      <li class="pagination__item">
        <button
          class="pagination__btn"
          v-for="page in pages"
          :key="page"
          @click="onClickPage(page)"
          :class="{'pagination__btn--active': isActive(page)}"
        >
         {{ page }}
        </button>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex';

export default {
  name: 'Pagination',
  computed: {
    ...mapState(['currentPage']),
    ...mapGetters(['meetingsOnPage', 'pages']),
  },
  methods: {
    ...mapMutations(['changePage']),
    isActive(page) {
      return this.currentPage === page;
    },
    onClickPage(page) {
      this.changePage(page);
    },
  },
}
</script>
<style lang="scss">
.pagination {
  width: 100%;
  &__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }
  &__item {
    padding: 0 .5rem;
  }
  &__btn {
    border: 0;
    background-color: transparent;
    border-radius: 1rem;
    width: 30px;
    height: 30px;

    &--active {
      background-color: $green;
    }
  }
}
</style>
