<template>
  <form class="search">
    <input class="search__input" type="text" v-model="query" placeholder="Wyszukaj ustawke" @keyup.prevent="search" />
    </form>
</template>

<script>
import { mapState, mapMutations } from 'vuex';

export default {
  name: 'Search',
  computed: {
    ...mapState(['searchQuery']),
    query: {
      get() {
        return this.searchQuery;
      },
      set(value) {
        this.$store.commit('findMeeting', value);
      },
    },
  },
  methods: {
    ...mapMutations(['findMeeting']),
    search() {
      this.findMeeting(this.query);
    },
  },
};
</script>

<style lang="scss">
.search {
  width: 100%;
  font-size: 1.8rem;
  color: $black;
  margin: 1rem 0;

  &__input {
    width: 100%;
    padding: 1rem;
    border: 0;
    border-bottom: 2px solid $green;
  }

  &__input::placeholder {
    color: $black;
    letter-spacing: .5rem;
  }
}
</style>
