<template>
  <div id="app">
    <router-view />
  </div>
</template>
<script>
export default {
  name: 'app',
};
</script>
<style lang="scss">
html, body {
  min-height: 100vh;
  position: relative;
}
</style>
